<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

<div class="column">
      <div class="col-md-12">
        <div class="card mb-2">
          <img class="card-img-top"
            src="/AgenceT/images/culture.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Culture &amp; Tradition</h4>
             <a href="/AgenceT/excursion.php?idCatg=1"><button  class="button purple-gradient">Nos Activités</button></a>
           
          </div>
        </div>
      </div>
</div>

<div class="column">
      <div class="col-md-12">
        <div class="card mb-2">
          <img class="card-img-top"
            src="/AgenceT/images/avtu.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Sport &amp; Aventure</h4>
           <a href="/AgenceT/excursion.php?idCatg=2"><button class="button purple-gradient">Nos Activités</button></a>
           
          </div>
        </div>
      </div>
</div>

<div class="column">
      <div class="col-md-12">
        <div class="card mb-2">
          <img class="card-img-top"
            src="/AgenceT/images/decouverte.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Nature &amp; Découverte</h4>
            <a href="/AgenceT/excursion.php?idCatg=3"><button class="button purple-gradient">Nos Activités</button></a>
           
          </div>
        </div>
      </div>
</div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

   <div class="column">
      <div class="col-md-12">
        <div class="card mb-2">
          <img class="card-img-top"
            src="/AgenceT/images/unique.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Expériences Uniques</h4>
            <a href="/AgenceT/excursion.php?idCatg=4"><button class="button purple-gradient">Nos Activités</button></a>
           
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="col-md-12">
        <div class="card mb-2">
          <img class="card-img-top"
            src="/AgenceT/images/groupe.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Spésial Groupes</h4>
            <a href="/AgenceT/excursion.php?idCatg=5"><button class="button purple-gradient">Nos Activités</button></a>
           
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="col-md-12">
        <div class="card mb-2">
          <img class="card-img-top"
            src="/AgenceT/images/circuit.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Circuits &amp; Mini Tours</h4>
            <a href="/AgenceT/excursion.php?idCatg=6"><button class="button purple-gradient">Nos Activités</button></a>
           
          </div>
        </div>
      </div>
    </div>

    

    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div class="carousel-item">

    <div class="column">
      <div class="col-md-12">
        <div class="card mb-2">
          <img class="card-img-top"
            src="/AgenceT/images/detente.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Détente &amp; Loisirs</h4>
            <a href="/AgenceT/excursion.php?idCatg=7"><button class="button purple-gradient">Nos Activités</button></a>
           
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="col-md-12">
        <div class="card mb-2">
          <img class="card-img-top"
            src="/AgenceT/images/saveurs.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Saveurs Marocaines</h4>
            <a href="/AgenceT/excursion.php?idCatg=8"><button class="button purple-gradient">Nos Activités</button></a>
           
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="col-md-12">
        <div class="card mb-2">
          <img class="card-img-top"
            src="/AgenceT/images/bien.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Bien-Etre</h4>
            <a href="/AgenceT/excursion.php?idCatg=9"><button class="button purple-gradient">Nos Activités</button></a>
           
          </div>
        </div>
      </div>
    </div>

    

    </div>
    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->