<!DOCTYPE html>
<html>
<head>
	<title>{$titre}</title>
	{include file='header.html'}
	{include file='navbar.html'}

	
	<div class="container z-depth-1 my-5 p-5">

  <!-- Section -->
  <section>
    
		<h3 class="font-weight-bold text-center dark-grey-text pb-2">Comment Ça marche?</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 pb-3 mb-5">Notre équipe est à votre disposition pour tous renseignements complémentaires, vous conseiller et vous assister lors de votre prise de commande, n'hésitez pas à nous contacter par email ou par téléphone en vous rendant dans la rubrique "CONTACT" au pied de la page d'accueil.</p>

    <div class="row dark-grey-text">

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-primary"><i class="icon-fa fas fa-file-alt fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h6 class="font-weight-bold">DESCRIPTIFS</h6>
            <p class="text-muted">Pas de mauvaise surprise ! Les informations mentionnées sur chaque activité et excursion concernant le détails du déroulement du programme et ce qui est inclut sont conformes à la prestation que vous aurez sur place !</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-danger"><i class="fas fa-shield-alt fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h6 class="font-weight-bold">SECURITE & ASSURANCES</h6>
            <p class="text-muted">Parceque votre bien-être et votre sécurité sont notre priorité, Maroc Travel est une agence de voyages disposant de toutes les autorisations et assurances obligatoires pour l'organisation de vos activités et excursions au Maroc, nos prestataires sont triés sur le volet pour leur sérieux et leurs compétences dans leur domaine d'activité, vous garantissant ainsi les meilleures conditions de voyage et la tranquilité pour votre famille, vos amis ou vos employés. </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-info"><i class="fas fa-money-bill-alt fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h6 class="font-weight-bold">TARIFS</h6>
            <p class="text-muted">Les tarifs affichés correspondent au tarif "à partir de". Lors de votre réservation, au moment de la sélection du nombre de participants, celui ci pourra donc être différent. En effet, le tarif de certaines activités et excursions est parfois dégressif à partir d'un certain nombre de participants. </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-success"><i class="icon-fa far fa-handshake fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h6 class="font-weight-bold">CONDITIONS DE RESERVATION</h6>
            <p class="text-muted">Les réservations peuvent être effectuées chaque jour jusqu'à 48h avant la prestation, Pour être prise en compte, le formulaire de commande doit être duement complété avec vos nom, prénom, adresse, téléphone et email.Vous pouvez consulter vos réservations en clicant sur l'icon <i class="fas fa-user"></i>  puis sur Espace Client.</p>
          </div>
        </div>
      </div>

     
      </div>

    </div>

  </section>
  <!-- Section -->
  
</div>s



{include file='footer.html'}


</body>
</html>