<!DOCTYPE html>
<html>
<head>
	<title>{$titre}</title>
	{include file='header.html'}
	{include file='navbar.html'}


<!--Main Navigation-->

<!--Main layout-->
<main class="rgba(121, 85, 72, 0.1) rgba-brown-slight" >

<!--Mask-->
  <div id="intro" class="view hm-stylish-light rgba(121, 85, 72, 0.1) rgba-brown-slight">
<br class=" rgba(121, 85, 72, 0.1) rgba-brown-slight">
<br class=" rgba(121, 85, 72, 0.1) rgba-brown-slight">
<br class=" rgba(121, 85, 72, 0.1) rgba-brown-slight">
<br class=" rgba(121, 85, 72, 0.1) rgba-brown-slight">
<br class=" rgba(121, 85, 72, 0.1) rgba-brown-slight">
<br class=" rgba(121, 85, 72, 0.1) rgba-brown-slight">
    <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center rgba(121, 85, 72, 0.1) rgba-brown-slight">

    <div class="row  d-flex justify-content-center rgba(121, 85, 72, 0.1) rgba-brown-slight">
      <div class="col-md-10 text-center">
        
      <!--Heading-->
      <b><h1 class="display-3 font-weight-bold text-light my-4 ">Maroc Travel</h1></b>

      <!--Driver-->
      <hr class="hr-light ">
      <!--Description-->
     <!-- <h4 class="white-text my-4 text-light ">C'est votre confort qui nous interesse.</h4>-->

      <button type="button" class="btn btn-outline-light text-light">Read More<i class="fas fa-book ml-2"></i></button>
      </div>
    </div>

    </div>

  </div>

<!--/.Mask-->
  <div class="container">

<div class="container mt-5">


  <!--Section: Content-->
  <section class="mx-md-5 dark-grey-text">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-20">

<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-4 pb-2">Agence d'excursions & Activité au Maroc</h2>
    <hr class="w-header my-4">
    <!-- Section description -->
    <p class="text-center mx-auto w-responsive mb-5">Maroc Travel est une agence d'excursions à Marrakech spécialiste des excursions et circuits au Maroc pour individuels et groupes. Filiale de l'agence My Morocco Travel, agence de voyages franco-marocaine spécialiste du Maroc et agréée par l'Etat.
Le mot des gérants : "Les besoins de nos clients sont au coeur de nos préoccupations. Nous souhaitons que notre expérience et notre soucis du détails permettent de répondre toujours plus précisément à vos exigences. Quelle que soit votre façon de voyager, nous vous promettons une histoire particulière entre le Maroc et vous..." </p>

  

    <hr class="my-5">
    
  </section>
  <!--Section: Content-->

<section class="mx-md-5 dark-grey-text">
  <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-4 pb-2">Services & prestations</h2>
    <hr class="w-header my-4"><br>
    <!-- Grid row -->
    <div class="row align-items-center">

      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
       
          <img class="img-fluid d-flex align-self-center mr-3" src="/agence/ProjetVide/images/quiExcursions.jpg" alt="Sample image">
       

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">

        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Excursions</strong></h4>
        <!-- Excerpt -->
        <p>Nos prestataires et guides multilingues sont triés sur le volet et sélectionnés pour leur professionnalisme, afin de vous garantir les meilleures conditions de voyages et un service de qualité.

Notre concept :

<h6><a href="#!" class="green-text">LA LIBERTE :</a> </h6>Voyager à son propre rythme, faire ce que l'on souhaite sans que rien ne soit imposé par un groupe ou une organisation..

<h6><a href="#!" class="green-text">ALLER OU LES AUTRES NE VONT PAS :</a></h6> Sans faire l'impasses sur les principaux centres d'intérêts incontournables, sortir des programmes touristiques traditionnels pour découvrir des lieux encore peu visités..

<h6><a href="#!" class="green-text">L'AUTHENTICITE DES RENCONTRES :</a></h6> Faire de vraies rencontres, avoir des échanges avec la population sans se sentir comme un touriste..

<h6><a href="#!" class="green-text">VOYAGER RESPONSABLE :</a></h6> Ne pas nuire par son voyage à un environnement naturel ou à une population locale, mais vouloir, par son choix de voyage, contribuer à un développement local.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
<br><br>
     <!-- Grid row -->
    <div class="row align-items-center">

      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
       
          <img class="img-fluid d-flex align-self-center mr-3" src="/agence/ProjetVide/images/quiTransfert.jpg" >
       

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">

        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>Transfert</strong></h4>
        <!-- Excerpt -->
        <p>Nos prestataires et chauffeurs multilingues sont triés sur le volet et sélectionnés pour leur professionnalisme, afin de vous garantir les meilleures conditions de voyages et un service de qualité.

Notre concept :

<h6><a href="#!" class="green-text">NOS VEHICULES : :</a> </h6> Nous disposons d'une flotte de véhicules touristiques tout confort opérant sur tout le Maroc. Propres, sécurisés et climatisés, ils sont adaptés aux différents types de voyages et au nombre de voyageurs (4x4 5 places Toyota Land Cruiser, Toyota Prado TX, Mitsubishi Pajero ; Véhicules 6 places Hyundai H1, Mercedes Vito et Viano ; Minibus 13 et 15 places ; Grands bus 38 et 46 places)

<h6><a href="#!" class="green-text">NOS CHAUFFEURS :</a></h6>Nos chauffeurs sont francophones, anglophones et hispanophones. Ils ont été sélectionnés pour leur gentillesse, sérieux et ponctualité, ceci afin de vous garantir les meilleures conditions de voyage.

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->


</section>
</div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="mb-5 mt-4">

  </section>  
  <!--Section: Content-->


</div>
  </div>
</main>
<!--Main layout-->



{include file='footer.html'}

</body>
</html>