<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-2" data-slide-to="3"></li>
    <li data-target="#carousel-example-2" data-slide-to="4"></li>
    <li data-target="#carousel-example-2" data-slide-to="5"></li>
    <li data-target="#carousel-example-2" data-slide-to="6"></li>
    <li data-target="#carousel-example-2" data-slide-to="7"></li>
    <li data-target="#carousel-example-2" data-slide-to="8"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class=" slide d-block w-100" src="/AgenceT/images/DinerRiadeAyadina.jpg"
          alt="First slide" >
        
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">DINER AUTHENTIQUE À RIAD SOUGTANI</h3>
        <a><button type="button" class="btn btn-outline-light text-light">a partire de<h5>538 Dhs/per</h5></button></a>
        <p></p>
      </div>
    </div>

    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="slide d-block w-100" src="/AgenceT/images/DINER SOUS TENTE AU DÉSERT D'AGAFAY.jpg"
          alt="Second slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">DINER SOUS TENTE AU DÉSERT D'AGAFAY</h3>
        <a><button type="button" class="btn btn-outline-light text-light">a partire de<h5>645 Dhs/per</h5></button></a>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="slide d-block w-100 " style="width:100%" src="/AgenceT/images/MARRAKECH ESSENTIEL - EXCURSION DEMI-JOURNÉE MARRAKECH.jpg"
          alt="Third slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">MARRAKECH ESSENTIEL - EXCURSION DEMI-JOURNÉE MARRAKECH</h3>
        <a><button type="button" class="btn btn-outline-light text-light">a partire de<h5>258 Dhs/per</h5></button></a>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100 slide" style="width:100%" src="/AgenceT/images/MARRAKECH VUE DU CIEL - MONTGOLFIÈRE.jpg"
          alt="Fourth slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">MARRAKECH VUE DU CIEL - MONTGOLFIÈRE</h3>
        <a><button type="button" class="btn btn-outline-light text-light">a partire de<h5>1935 Dhs/per</h5></button></a>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100 slide" style="width:100%" src="/AgenceT/images/RANDONNÉE EN TERRES BERBÈRES.jpg"
          alt="Fifth slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">RANDONNÉE EN TERRES BERBÈRES</h3>
        <a><button type="button" class="btn btn-outline-light text-light">a partire de<h5>409 Dhs/per</h5></button></a>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100 slide" src="/AgenceT/images/BALADE EN DROMADAIRE DANS LA PALMERAIE MARRAKECH.jpg"
          alt="Sixth slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">BALADE EN DROMADAIRE DANS LA PALMERAIE MARRAKECH</h3>
        <a><button type="button" class="btn btn-outline-light text-light">a partire de<h5>247 Dhs/per</h5></button></a>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100 slide" src="/AgenceT/images/LA PALMERAIE EN QUAD.jpg"
          alt="Seventh slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">LA PALMERAIE EN QUAD</h3>
        <a><button type="button" class="btn btn-outline-light text-light">a partire de<h5>526 Dhs/per</h5></button></a>
        <p></p>
      </div>
    </div>
     <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100 slide" style="width:100%" src="/AgenceT/images/ATELIER CUISINE AU NATUREL.jpg"
          alt="Eighth slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">ATELIER CUISINE AU NATUREL</h3>
        <a><button type="button" class="btn btn-outline-light text-light">a partire de<h5>699 Dhs/per</h5></button></a>
        <p></p>
      </div>
    </div>
     <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100 slide" src="/AgenceT/images/WAKEBOARD MARRAKECH (2 HEURES DE WAKY).jpg"
          alt="Ninth slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">WAKEBOARD MARRAKECH (2 HEURES DE WAKY)</h3>
        <a><button type="button" class="btn btn-outline-light text-light">a partire de<h5>398 Dhs/per</h5></button></a>
        <p></p>
      </div>
    </div>
     <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100 slide" src="/AgenceT/images/VISITE GUIDÉE PREMIUM _EXCURSION DEMI_OURNÉE 1 2J.jpg"
          alt="Tenth slide">
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">VISITE GUIDÉE PREMIUM _EXCURSION DEMI_OURNÉE 1/2J</h3>
        <a><button type="button" class="btn btn-outline-light text-light">a partire de<h5>312 Dhs/per</h5></button></a>
        <p></p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->